<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <link rel="stylesheet" href="/webjars/pico/css/pico.min.css"/>
    <link rel="stylesheet" href="/styles.css"/>

    <meta name="theme-color" content="#ffffff"/>
    <link rel="icon" href="/img/favicon.svg"/>
    <link rel="mask-icon" href="/img/mask-icon.svg" color="#000000"/>
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png"/>
    <meta name="theme-color" content="#1095c1"/>
    <script src="/webjars/htmx.org/dist/htmx.min.js"></script>
    <script defer="defer" src="/index.js"></script>

    <title>{#insert title}SUS{/}</title>

</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><a href="/"><img class="logo" src="/img/cat.svg" alt="happy cat logo"></a></li>
    </ul>

    {#if inject:securityService.userId}
        <ul>
            <li>
                <a href="/my-links">My Links</a>
            </li>
            <li>
                <a class="outline" role="button" href="/sign-out">Sign out</a>
            </li>
        </ul>
    {#else}
        <ul>
            <li>
                <a class="outline" role="button" href="/sign-in?redirect={inject:vertxRequest.uri}">
                    Sign in
                </a>
            </li>
        </ul>
    {/if}
</nav>
<main class="container">
    {#insert}{/}
</main>
<footer class="container">
    {#insert footer}{/}
</footer>
</body>
</html>
