<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <link rel="icon" href="/favicon-dark.ico" media="(prefers-color-scheme: dark)"/>
    <link rel="icon" href="/favicon-light.ico"/>

    <link rel="stylesheet" href="/webjars/pico/css/pico.min.css"/>
    <script src="/webjars/htmx.org/dist/htmx.min.js"></script>

    <title>{#insert title}SUS{/}</title>

</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><a class="contrast" href="/"><strong>SUS</strong></a></li>
    </ul>

    {#if loggedIn}
        <ul>
            <li>
                <a href="/links">My Links</a>
            </li>
            <li>
                <a class="outline" role="button" href="/auth/logout">Logout</a>
            </li>
        </ul>
    {#else}
        <ul>
            <li>
                <a role="button" href="javascript:location.href='/auth/login?redirect=' + encodeURIComponent(location.href)">
                    Login
                </a>
            </li>
        </ul>
    {/if}
</nav>
<main class="container">
    {#insert}{/}
</main>
{#insert script}{/}
</body>
</html>
