{#include base}
    {#title}SUS: {link.id}{/}

    <h2>Edit URL</h2>

    <article>
    <label>Short url:
        <input readonly value="{link.redirect}">
    </label>

    <form id="form-update" method="post"></form>
    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" form="form-update"/>

    <form id="form-delete" method="post" action="./delete"></form>
    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" form="form-delete"/>

    <label>
    Destination
    <input
            type="url"
            required="required"
            name="url"
            autocomplete="off"
            aria-label="url"
            value="{link.destination}"
            form="form-update"
            {#if error != null}aria-invalid="true"{/if}
    />
    {#if error}<small>{error}</small>{/if}
    </label>

    <div class="grid">
        <button hx-get="./view" hx-target="body" hx-push-url="true" class="secondary">Cancel</button>
        <button type="submit" form="form-update">Save</button>
        <button class="red" type="submit" type="submit" form="form-delete">Delete</button>
    </div>
    </article>
{/include}