{#include base}
    <hgroup>
        <h1>SUS</h1>
        <h2>Simple URL Shortener</h2>
    </hgroup>

    <form method="post">
    <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}"/>
    <input
            id="create-link-input"
            hx-boost="true"
            type="url"
            required="required"
            name="url"
            autocomplete="off"
            placeholder="https://example.com"
            aria-label="url"
            value="{url ?: ''}"
            {#if error}aria-invalid="true"{/if}
    />
    {#if error}<small>{error}</small>{/if}
    <button type="submit">Short</button>
    </form>
{/include}
