{#include base}
    <h2>My Links</h2>
    <figure>
    <table>
    <thead>
    <tr>
        <th scope="col">Link</th>
        <th scope="col">Clicks</th>
        <th scope="col">Original url</th>
    </tr>
    </thead>
    <tbody>
    {#fragment id = items}
        {#each links}
            {#if it_isLast}
                <tr hx-get="?page={nextPage}" hx-trigger="revealed" hx-swap="afterend">
            {#else}
                <tr>
            {/if}
            <td><a href="/l/{it.id}">{it.id}</a></td>
            <td>{it.visits}</td>
            <td><a href="{it.url}">{it.url}</a></td>
            </tr>
        {/each}
    {/fragment}
    </tbody>
    </table>
    </figure>
{/include}