{#include base}
    <h2>My Links</h2>

    <figure>
    <table>
    <thead>
    <tr>
        <th scope="col">Link</th>
        <th scope="col">Clicks</th>
        <th scope="col">Destination</th>
    </tr>
    </thead>
    <tbody>
    {#fragment id = items}
        {#for link in links}
            {#if link_isLast}
                <tr hx-get="?page={nextPage}" hx-trigger="revealed" hx-swap="afterend">
            {#else}
                <tr>
            {/if}
            <td><a href="/{link.id}/view">{link.id}</a></td>
            <td>{link.clicks}</td>
            <td><a href="{link.destination}">{link.destination}</a></td>
            </tr>
        {/for}
    {/fragment}
    </tbody>
    </table>
    </figure>
{/include}