:root {
  --accent: #e91e63;
  --background: #171717;
  --text: #ffffff;
  --gray: #a8a8a8;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: monospace;
  background-color: var(--background);
  color: var(--text);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: var(--text);
  text-decoration: none;
  overflow-wrap: anywhere;
  border-bottom: 3px solid var(--accent);
}

a:hover,
a:active {
  background-color: var(--accent);
  color: var(--background);
}

input {
  border: none;
  border-bottom: 2px solid var(--text);
  background-color: var(--background);
  color: var(--text);
  caret-color: var(--accent);
}

input:focus {
  outline: none;
}

@media (max-width: 480px) {
  input {
    width: 210px;
  }
}

button {
  background-color: var(--accent);
  border-width: 0;

  color: var(--background);
  padding: 3px 8px;

  box-shadow: 3px 3px 0 0 var(--text);
}

button:active {
  box-shadow: 0 0 0 0;
  transform: translate(3px, 3px);
}

input,
button,
p,
a {
  font-size: 1.4em;
}

div.stats p {
  color: var(--gray);
  font-size: 110%;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --text: black;
    --gray: #494949;
  }
}
