{#include base}
    {#title}SUS: {link.id}{/}

    <h1>Short link</h1>

    <article>
        <input id="input"
               type="url"
               readonly
               name="url"
               value="{link.redirect}"
               aria-label="short url"/>
        <div class="grid">
            <button class="secondary" id="button">Copy</button>
            {#if link.owner}
                <div><a href="./edit" role="button">Edit</a></div>
            {/if}
        </div>

        <ul>
            <li>Destination: <a href="{link.destination}">{link.destination}</a></li>
            <li>Total clicks: {link.clicks}</li>
            <li>Created at: {link.createdAt.format('d MMM uuuu')}</li>
        </ul>
    </article>

    <p><a href="/">Create another</a></p>

    {#script}
        <script>
            {
                let timeoutId = null;

                const input = document.querySelector("#input");
                const button = document.querySelector("#button");

                function copy() {
                    input.select();
                    document.execCommand("copy")
                    button.textContent = 'Copied';

                    clearInterval(timeoutId);
                    timeoutId = setTimeout(() => {
                        button.textContent = 'Copy';
                    }, 1000);
                }

                button.addEventListener('click', copy);
            }
        </script>
        {/}
{/include}