{#include base}
    <h2>Shortened URL</h2>

    <input id="input" readonly value="{baseUrl}/{link.id}" aria-label="short url"/>
    <button class="secondary" id="button">Copy</button>

    <ul>
        <li>Original URL: <a href="{link.url}">{link.url}</a></li>
        <li>Total clicks: {link.visits}</li>
    </ul>

    <p><a href="/">Create another</a></p>

    <script>
        let timeoutId = null;

        const input = document.querySelector("#input");
        const button = document.querySelector("#button");

        function copy() {
            input.select();
            document.execCommand("copy")
            button.textContent = 'Copied';

            clearInterval(timeoutId);
            timeoutId = setTimeout(() => {
                button.textContent = 'Copy';
            }, 1000);
        }

        button.addEventListener('click', copy);
    </script>
{/include}