/* Red Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) .red {
    --primary: #e53935;
    --primary-hover: #d32f2f;
    --primary-focus: rgba(229, 57, 53, 0.125);
    --primary-inverse: #FFF;
}

/* Red Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) .red {
        --primary: #e53935;
        --primary-hover: #f44336;
        --primary-focus: rgba(229, 57, 53, 0.25);
        --primary-inverse: #FFF;
    }
}

/* Red Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] .red {
    --primary: #e53935;
    --primary-hover: #f44336;
    --primary-focus: rgba(229, 57, 53, 0.25);
    --primary-inverse: #FFF;
}

.logo {
    width: 2.7rem;
    height: 2.7rem;
    color: white;
    background-color: var(--background-color);
    padding: 5px;
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--primary);
}