{#include base}
    {#title}{id}{/}

    <h2>Edit URL</h2>

    <form method="post">

    <label>
    Destination
    <input
            type="url"
            required="required"
            name="url"
            autocomplete="off"
            aria-label="url"
            value="{url}"
            {#if error != null}aria-invalid="true"{/if}
    />
    {#if error}<small>{error}</small>{/if}
    </label>

    <div class="grid">
        <a href="view" role="button" class="fullwidth-button secondary">Cancel</a>
        <button formaction="edit">Save</button>
        <button formaction="delete" class="red">Delete</button>
    </div>
    </form>
{/include}